<h1>Welcome to Patient Doctor</h1>
<% if doctor_signed_in? %>
  <%= link_to "Add-Patient", new_patient_path, class: "btn btn-success" %>
  <%= link_to "Show Patient list", patients_path, class: "btn btn-success" %>
  <%= button_to "Sign-out", destroy_doctor_session_path, method: :delete, class: "btn btn-danger" %>
<% else %>
  <h1> Please click the link below for Sign-in </h1>
  <%= link_to "Sign-in", new_doctor_session_path, class: "btn btn-success" %>
<% end %>