<h1>Welcome to Patient Doctor</h1>
<% if doctor_signed_in? %>

<% else %>
  <h1> Please click the link below for Sign-in </h1>
  <%= link_to "Sign-in", new_doctor_session_path, class: "btn btn-success" %>
<% end %>