<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<div class="jumbotron">
  <h3 class="display-4">Welcome to PDMS</h3>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
    content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <% if doctor_signed_in? %>
      <a class="btn btn-primary btn-lg" href="patients/new" role="button">Add new Patient</a>
      <a class="btn btn-success btn-lg" href="/patients" role="button">All Patients</a>
    <% else %>
      <h3> Please click the link below for Sign-in </h3>
      <%= link_to "Sign-in", new_doctor_session_path, class: "btn btn-success" %>
    <% end %>
    </p>
    </div>
