#doctor_email, #doctor_password {
  width: 30%;
}

#login-form-div {
  margin-left: 380px;
}
#button-login
{
  margin-top: 20px;
  align-content: center;
  margin-left: 70px;
}
#login-form>img-div
{

}