#top-div-heading {
  background-color: black;
  color: lightcyan;
  height: 80px;
  width: 600px;
  text-align: center;
  padding-top: 20px;
  margin-left: 60px;
}

#centeral-div {
  margin-top: 40px;
}