<h1>Appointment Details </h1>
<h3>Appointment-Date:<%= @appointment.date %></h3>
<div><%= link_to "Edit", edit_patient_appointment_path(@patient, @appointment), class: "btn btn-warning" %>
  <%= button_to "Delete", patient_appointment_path(@patient, @appointment), class: "btn btn-danger", method: :delete %>
</div>